.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--gutter) * 1.5);
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
  color: var(--gray-200);
}

.counterContainer {
  display: flex;
  gap: var(--gutter);
  align-items: center;
}

.counterContainer:first-child > p {
  color: var(--blue-400);
}

.counterContainer:last-child > p {
  color: var(--purple-400);
}

.badge {
  background: var(--gray-400);
  font-size: 0.75rem;
  border-radius: var(--shape-full);
  padding: calc(var(--gutter) / 2) calc(var(--gutter) * 1.25);
}
